* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

main {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  width: 100%;
}

main > section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 1rem;
  background-color: #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  transition: all 0.25s;
}

a:hover {
  color: #ccc;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#logo {
  height: 120px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  min-height: calc(100vh - 4em);
}
.btn {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
.btn:hover {
  background-color: #535bf2;
}
.btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.btn-danger {
  border-radius: 8px;
  border: 1px solid #213547;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255, 111, 111);
  color: white;
  cursor: pointer;
  transition:all 0.25s;
}
.btn-danger:hover {
  background-color: #ff4d4d;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

select {
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid #213547;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
}
select:hover {
  background-color: #646cff;
  border-color: #646cff;
  color: white;
}

select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

.filter-input {
  padding: 0.5em 1em;
  font-size: 1em;
  width: 300px;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid #213547;
  background-color: transparent;
  cursor: text;
  transition: all 0.25s ease-in;
}
.filter-input:focus,
.filter-input:focus-within {
  outline: none;
  border-color: #646cff;
  color: #213547;
  width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #213547;
  border-radius: 5px;
  gap: 1rem;
  width: 100%;
  padding: 20px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #646cff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  .flex-box {
    display: flex;
    gap: 1rem;
  }
  
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  min-height: calc(100vh - 4em);
}

.form-container > h2 {
  margin: 2rem 0;
}

form {
  width: 100%;
}
input {
  padding: 0.5em 1em;
  font-size: 1em;
  width: 100%;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid #213547;
  background-color: transparent;
  cursor: text;
  transition: all 0.25s ease-in;
}
input:focus,
input:focus-within {
  outline: none;
  border-color: #646cff;
  color: #213547;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
} 

textarea {
  padding: 0.5em 1em;
  font-size: 1em;
  width: 100%;
  height: 200px;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid #213547;
  background-color: transparent;
  cursor: text;
  transition: all 0.25s ease-in;
  resize: none;
}

textarea:focus, fosuc-within {
  outline: none;
  border-color: #646cff;
  color: #213547;
}


.danger-text {
  color: #ff4d4d;
}
.bold-text {
  font-weight: bolder;
}

.gray-text {
  color: #666666;
}

.btn-danger {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255, 111, 111);
  color: white;
  cursor: pointer;
  transition:all 0.25s;
}
.btn-danger:hover {
  background-color: #ff4d4d;
}

select {
  padding: 0.5em 1em;
  font-size: 1em;
  width: auto;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid #213547;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

select:hover {
  background-color: #646cff;
  border-color: #646cff;
  color: white;
}

.message-error {
  background-color: #ffd8d8;
  padding: 5px 10px;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  color: #ff4d4d;
}

.message-success {
  background-color: #d8ffd8;
  padding: 5px 10px;
  border: 1px solid #4dff4d;
  border-radius: 5px;
  color: #4dff4d;
}

.message-info {
  background-color: #d8e7ff;
  padding: 5px 10px;
  border: 1px solid #4d4dff;
  border-radius: 5px;
  color: #4d4dff;
}
.message-info  > a {
  color: #4d4dff;
  text-decoration: underline;
}

.message-info-show {
  display: block;
}

.message-info-hide {
  display: none;
}

.data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
  gap: 1rem;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.color-primary {
  color: #646cff;
}

.color-danger {
  color: #ff4d4d;
}